.upd-cls-sim {
  padding: 8px 18px;
  border-radius: 4px;
  font-size: .9rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #BF252B;
  transition: background-color 0.2s, transform 0.1s;
}
.upd-cls-sim:hover {
  background-color: #Bf252b;
  transform: scale(1.01);
}

.upd-cls-sim:active {
  background-color: #8e1a1f !important;
  transform: scale(0.98);
}

.upd-cls-sim:focus {
  background-color: #8e1a1f !important;
  outline: none;
}

.upd-cls-bat {
  padding: 8px 18px;
  border-radius: 4px;
  font-size: .9rem;
  font-weight: bold;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #BF252B;
  transition: background-color 0.2s, transform 0.1s;
}

.upd-cls-bat:hover {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #BF252B;
  transform: scale(1.01);
}

.upd-cls-bat:active {
  background-color: #ffffff !important;
  color: #333333;
  border: 1px solid #BF252B;
  transform: scale(0.98);
}

.upd-cls-bat:focus {
  background-color: #ffffff !important;
  color: #333333;
  border: 1px solid #BF252B;
  outline: none;
}
