@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1rem;
  font-weight: 10;
}

p {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 20px;
}

.areaC-con {
  background-color: #f8f8f8;
}

.areaC-container {
  display: flex;
}

.contentC-container {
  flex: 1;
  padding: 10px;
  max-height: 100vh;
}

.roomC-container {
  display: flex;
  flex-wrap: wrap;
  padding: 19px 0;
  justify-content: center;
  border-radius: 13px;
  gap: 15px;
}

.roomC-box {
  border: 1px solid #dee2e6; /* Border */
  padding: 60px 150px;
  width: 150px; /* Lebar setiap room */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  border-radius: 6px; /* Sudut tumpul */
  text-align: center; /* Teks ditengah */
  cursor: pointer;

  /* Flexbox untuk center alignment */
  display: flex; /* Menggunakan flexbox */
  flex-direction: column; /* Arah kolom */
  justify-content: center; /* Vertikal center */
  align-items: center; /* Horizontal center */
  height: 200px; /* Tinggi tetap untuk membantu center alignment */
}

.roomC-box h5 {
  margin: 0; /* Menghapus margin untuk menghindari pemisahan */
  white-space: nowrap; /* Menghindari pemisahan teks ke baris baru */
  overflow: hidden; /* Menghindari overflow */
  text-overflow: ellipsis; /* Menampilkan elipsis jika teks terlalu panjang */
}

.roomC-box p {
  margin: 0;
  font-size: 11px;
  color: #6c757d;
}
